.course-list {
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
  padding-left: 110px;
  margin-left: 100px;
  padding-right: 110px;
  margin-right: 100px;
  margin-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
}
.course-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  position: relative;

  width: 200px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 15px;
    object-fit: fill;
  }

  .info {
    padding: 5px 15px 15px;
    width: 100%;

    .title {
      font-weight: 600;
      // margin-bottom: 4px;
      height: 85px;
      overflow: auto;
      // font-size: 40px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 0px;

      a.filePath {
        color: #000; // 검정색으로 링크 색상 설정
        text-decoration: none;
        font-size: 15px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .instructor {
      margin-bottom: 10px;
      margin-top: 0;
      font-size: 13px;
      color: #666;
    }

    .bottom {
      display: flex;
      font-size: 13px;
      color: #444;
      margin-top: 10px;

      .price {
        font-weight: bold;
        font-size: 15px;
      }

      .category {
        font-style: italic;
        color: #888;
        margin-left: 70px;
      }
      .rating {
        font-weight: bold; // 폰트 굵게
        margin-left: 3rem;
        font-size: 1rem;
      }
    }
  }
}

.pagination-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}

.pagination {
  margin-top: 24px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  // position: fixed;
  bottom: 250px;
  // left: 250px;
  transform: translateX(-50%);
  z-index: 100;

  button {
    background-color: #1dc078;
    color: white;
    border: 1px solid #ccc;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  span {
    font-weight: bold;
  }
}
